body {
  width: 250px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #e8eaf6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settings-icon:hover svg path {
  fill: #4CAF50;
}

.control-group {
  text-align: left;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
select, button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  opacity: 0.9;
}
#swap-languages {
  margin-bottom: 8px;
  padding: 3px 8px;
  border-radius: 3px;
}
#message-area {
  margin-top: 10px;
  color: red;

  &:empty{
    display: none;
  }
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}